

<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Rottenvfx : A mashup of http://vimeo.com/87518452 and their Rotten Tomato scores." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Rottenvfx</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/poeks/rottenvfx">View on GitHub</a>

          <h1 id="project_title">Rottenvfx</h1>
          <h2 id="project_tagline">A mashup of http://vimeo.com/87518452 and their Rotten Tomato scores.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/poeks/rottenvfx/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/poeks/rottenvfx/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <p>This is a mashup of <a href="http://vimeo.com/87518452">The Most influential VFX Movies Compilation (Extended version)</a> from Roger Serrabassa and their Rotten Tomatoes score, using the handy Rotten Tomatoes API.</p>

<h3>
<a name="the-codez" class="anchor" href="#the-codez"><span class="octicon octicon-link"></span></a>The Codez?</h3>

<p>If you want to run this yourself, they <a href="http://github.com/poeks/rottenvfx">are here at rottenvfx</a>.</p>

<h3>
<a name="authors-and-contributors" class="anchor" href="#authors-and-contributors"><span class="octicon octicon-link"></span></a>Authors and Contributors</h3>

<p>Jen Oslislo (<a href="https://github.com/poeks" class="user-mention">@poeks</a>) made this thing.</p>

<%= yield %>

      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Rottenvfx maintained by <a href="https://github.com/poeks">poeks</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-12878248-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
